body {
    display: flex;
}
.project.content {
    padding-right:2em;
}
.project.content button {
    margin-top: 1.5em;
}
.description p {
    font-size: 1.1em;
}
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url(images/a12.png) no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
.project .description {
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 30px;
}
.project .description p {
    color: #777;
    font-size: 18px;
}
.project .description ul li {
    color: #777;
    font-size: 18px;
}
.project .description ul {
    list-style: square;
}
.project .description ul li {
    line-height: 1.5em;
}