.contact {
	position: relative;
	width: 100%;
}


.contact::after {
content: "";
background-image:url("images/pic2.jpg");
opacity: 0.6;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;
background-size: cover;
}

a.icon {
	color: #6d3035;
}

.form.container {
	padding: 2em;
}
.input input {
    width: 25em;
    height: 2em;
    font-size: 1.5em;
    margin-bottom: 1em;
}
form {
	margin: 0;
}
