body {
	color:#F3F2F2;
}
h2, h3, h4, .menu p {
	color: #F3F2F2;
}

.menu.container, .select{
	display: flex;
	justify-content:space-around;
}
.menu.container {
	padding-bottom: 2em;
	border:5px double #F3F2F2;
}
.chalkboard {
	background-image: url(images/chalk_background.jpg);
	padding-bottom: 5em;
}
#social ul {
	margin-top: 8em;
}
.chalkboard .banner a {
	color:#F3F2F2;
}


.container.banner h2 {
	font-size: 1.8em;
	margin-top: .5em;
}
.call {
	border:3px double skyblue;
	padding-left: 2em;
    padding-right: 3em;
    padding-bottom: 2em;
    margin-top: 3em;
}

.call h3 {
	border-bottom: 4px double;
	margin-top: 1em;
}

.caption  h4 {
	margin-bottom: 0;
	padding-top: 0.8em;
	font-size: 1.2em;
}

.caption .price {
	float: right;
	margin-left: 1.5em;
	border-radius: 50%;
    min-width: 2.5em;
    background-color: white;
    text-align: center;
    color: black;
    padding: 0.4em;
}

.caption p {
	margin: 0;
}
.option h3 {
	margin-bottom: 0;
	text-align: center;
	text-decoration: underline;
}
div.pick {
	padding: 1em;
}
.pick h4 {
	margin-top: 0.7em;
	display: inline;
	border-bottom: 3px solid white;
}

.table li {
	list-style: none;
}
.table {
	padding: 0;
}
.one-third h4 {
	color:#515151;
}
