#header{
	top:0;
	width:100%;
	margin:auto;
	background-color: #fff;
}

.container {
	vertical align:baseline;
	font-size: 100%;
	font-family: Verdana;
}

#logo {
	position:absolute;
}
#header #nav {
	position: relative;
	float: right;
}